{% extends 'index.html' %}

{% block content %}
    <h1>Acerca de mi Blog</h1>
    <p>Bienvenido a mi primer Blog. Mi nombre es Matias Teti y tengo 29 años. Trabajo en una corredora de cereales llamada Enrique R. Zeni desde el 2017. Hasta Junio de 2023 trabaje en el sector de impuestos y siempre me intereso en analisis de datos y las automatizaciones. 
    <br>Luego me cambie al sector de control y gestion para trabajar en lo que ya venia interiorizado que son reportes y automatizaciones.
    Elegi hacer este curso porque python se usa en el sector y queria tener mas conocimientos sobre el tema. 
    <br>Esta pagina simula ser un market place donde se puede comprar frutas, carnes y productos de panaderia. En cada una de las secciones se pueden elegir las compras por producto, peso y medida del peso. Cuando se realiza la compra con el horario de la transaccion, muestra el detalle de la compra del usuario logueado con un id como orden de compra.
    <br>En el inicio esta la opcion de ver el historial de todas las compras que realizo el usuario por cada seccion.
    <br>Todas las paginas, excepto el login y registro, se encuentran bloqueadas y es requisito que el usuario este logueado para acceder.
    </p>

{% endblock %}
