{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Buscar Carne por Orden de Compra</title>
</head>
<body>
    <h1>Buscar Carne por ID</h1>
    <form method="get" action="">
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form>

    {% if elementos %}
    <h2>Resultados:</h2>
    <ul>
        {% for elemento in elementos %}
        <li>ID: {{ elemento.id }} - Carne: {{ elemento.carne }} - Cantidad: {{ elemento.cantidad }} - Peso: {{ elemento.peso }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<a  href="{% url 'app1:menu' %}" class="btn btn-secondary">Volver</a>
</body>
</body>
</html>
{% endblock %}
