{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Detalle de la compra</title>
</head>
<body>
    <h1>Detalle de la compra</h1>
    <p>{{ user }} aqui esta el detalle de tu compra:</p>
    <ul>
        <li>Pan: {{ compra_pan.pan }}</li>
        <li>Cantidad: {{ compra_pan.cantidad }}</li>
        <li>Peso: {{ compra_pan.peso }}</li>
        <li>Orden de Compra: {{ compra_pan.id }}</li>
        <li>Fecha de Compra: {{ compra_pan.fecha_creacion|date:"d/m/Y" }}</li>
    </ul>
    
    <a href="{% url 'app1:panaderia' %}" class="btn btn-secondary">Realizar otra compra</a>
    <a href="{% url 'app1:eliminar_pan' compra_pan.id %}" class="btn btn-secondary">Eliminar</a>
    <a href="{% url 'app1:editar_pan' compra_pan.id %}" class="btn btn-secondary">Editar</a>
</body>
</html>
{% endblock %}

