{% extends 'index.html' %}
{% block content %}
<h2>Iniciar Sesión</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
    <p style="color: red;" class="error-message">Usuario o contraseña incorrectos. Por favor, intenta nuevamente.</p>
     {% endif %}

    {% if messages %}

        {% for message in messages %}
        <div class="notification {{message.tags}}">
            {{ message }}
        </div>
        {% endfor %}

    {% endif %}
    <button type="submit" id="submit">Iniciar Sesión</button>
  </form>
 
  <a href="{% url 'app1:register' %}">¿No tienes una cuenta? Regístrate aquí.</a>
{% endblock %}