{% extends 'index.html' %}
{% block content %}

    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                        <h3>Carniceria</h3>
                        <a href="{% url 'app1:carniceria' %}" class="btn btn-secondary">Carniceria</a> 
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                        <h3>Fruteria</h3>
                        <a href="{% url 'app1:fruta' %}" class="btn btn-secondary">Fruteria</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                        <h3>Panaderia</h3>
                        <a href="{% url 'app1:panaderia' %}" class="btn btn-secondary">Panaderia</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <a href="{% url 'app1:buscar_fruta_por_id' %}" class="btn btn-primary">Buscar OP de Fruteria</a>
    <a href="{% url 'app1:buscar_carne_por_id' %}" class="btn btn-primary">Buscar OP de Carniceria</a>
    <a href="{% url 'app1:buscar_pan_por_id' %}" class="btn btn-primary">Buscar OP de Panaderia</a>
</body>
</html>
{% endblock %}